.header {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #4C71FF;
  top: 0;
  z-index: 100;
  border-radius: 20px;
  width: 100% auto;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 60px;
  height: auto;
}

.navbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem; 
  padding: 0.8rem 1.5rem;
  max-width: auto;
  margin: 0 auto;
  position: relative;
}

.logo h2 {
  color: #ecf0f1;
  margin: 0;
  font-size: 1.5rem;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 0.5rem;
  margin: 0;
  padding: 0;
}

.nav-links-right {
  display: flex;
  list-style: none;
  gap: 0.8rem;
  margin: 0;
  margin-left: auto;
}

.nav-links a {
  color: #ecf0f1;
  text-decoration: none;
  font-weight: 500;
  transition: all 0.3s ease;
  padding: 0.6rem 1.2rem; 
  border-radius: 25px;
  background-color: transparent;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  font-size: 0.95rem;
}

.nav-links-right a {
  color: #ecf0f1;
  text-decoration: none;
  font-weight: 500;
  transition: all 0.3s ease;
  padding: 0.6rem 1.2rem; 
  border-radius: 25px;
  background-color: transparent;
  display: flex;
  align-items: center;
  font-size: 0.95rem;
}

.nav-links a:hover {
  background-color: #7F30BC;
  color: #ffffff;
}

.nav-links-right a:hover {
  background-color: #7F30BC;
  color: #ffffff;
}

.nav-links a.active {
  background-color: #7F30BC;
  color: #ffffff;
}

.nav-links-right a.active {
  background-color: #7F30BC;
  color: #ffffff;
}

/* Botón hamburguesa (oculto por defecto) */
.menu-toggle {
  display: none;
  background: none;
  border: none;
  color: #ecf0f1;
  cursor: pointer;
  padding: 0.4rem;
  margin-left: auto;
}

/* RESPONSIVE - Tablets y móviles */
@media (max-width: 1024px) {

  .navbar {
    gap: 1rem;
  }
  
  .nav-links, .nav-links-right {
    gap: 0.3rem;
  }
  
  .nav-links a {
    padding: 0.2rem 0.8rem;
    font-size: 0.85rem;
  }

   .nav-links-right a {
    padding: 0.2rem 0.8rem;
    font-size: 0.85rem;
  }
}

/* RESPONSIVE - Móviles */
@media (max-width: 930px) {

  .menu-toggle {
    display: block;
  }
  
  .navbar {
    flex-wrap: wrap;
  }
  
  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
  }

  .nav-links-right {
    display: none;
    flex-direction: column;
    width: 100%;
  }
 
  .nav-links.active {
    display: flex;
  }

  .nav-links-right.active {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    padding-bottom: 10px;
    margin-left: -38px;
  }
    
  .nav-links a {
    width: auto;
    justify-content: flex-start;
    padding: 0.8rem 1rem;
  }
  
  .nav-links-right a {
    width: auto;
  }
  
  .logo img {
    width: 50px;
  }
}

/* RESPONSIVE - Móviles pequeños */
@media (max-width: 480px) {
  
  .navbar {
    padding: 0.6rem 1rem;
  }
  
  .logo img {
    width: 40px;
  }
  
  .nav-links a {
    font-size: 0.9rem;
  }
}