/* .header {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #4C71FF;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 100;
  border-radius: 20px;
}

.logo img {
  width: 4vw;
  height: 8vh;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  max-width: auto;
  margin: 0 auto;
}

.logo h2 {
  color: #ecf0f1;
  margin: 0;
  font-size: 1.5rem;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

.nav-links a {
  color: #ecf0f1;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
  padding: 0.5rem 1rem;
  border-radius: 4px;
}

.nav-links a:hover {
  color: #1a1a1a;
  background-color: rgba(52, 152, 219, 0.1);
}
 */

.header {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #4C71FF;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 100;
  border-radius: 20px;
}

.logo img {
  width: 5vw;
  height: 9.2vh;
}

.navbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 4.8rem; 
  padding: 1rem 2rem;
  max-width: auto;
  margin: 0 auto;
}

.logo h2 {
  color: #ecf0f1;
  margin: 0;
  font-size: 1.5rem;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

.nav-links-right {
  margin-left: auto;
}

.nav-links a {
  color: #ecf0f1;
  text-decoration: none;
  font-weight: 500;
  transition: all 0.3s ease;
  padding: 0.7rem 1.5rem;
  border-radius: 25px;
  background-color: transparent;
  display: flex; /* Para alinear iconos y texto */
  align-items: center; /* Centra verticalmente */
  gap: 0.5rem; /* Espacio entre icono y texto */
}

.nav-links a:hover {
  background-color: #7F30BC;
  color: #ffffff;
}

.nav-links a.active {
  background-color: #7F30BC;
  color: #ffffff;
}