
.not-found {
  font-family: 'Bates', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
  font-size: 1.4rem;
}

.not-found h2{
  font-size: 3.4rem;
  margin: 0;
}

.not-found button {
  padding: 0.6rem 1.2rem;
  border-radius: 20px;
  border: solid rgb(0, 0, 0);
  font-weight: bold;
  cursor: pointer;
  background-color: #5f389d;
  color:aliceblue;
}

.tipo-unown {
  font-family: 'Unown';
  font-size: 1rem;
}


/*FUENTES*/

@font-face {
  font-family: 'Bates';
  src: url('../src/assets/fonts/Bates\ Shower.ttf') format(truetype);
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Unown';
  src: url('../src/assets/fonts/unown.ttf') format(truetype);
  font-weight: bold;
  font-style: normal;
}